#calendar thead th {
  text-align: center;
  vertical-align: middle;
}

#calendar td {
  height: 50px;
  vertical-align: middle;
}

#calendar tbody th {
  text-align: right;
  vertical-align: middle;
}

#calendar td:hover {
  background-color: #E5E5E5;
}

#calendar .not-hover:hover{
  background-color: transparent;
}

#calendar .info:hover{
  background-color: #B1D3E4;
}

#calendar .selected {
  box-shadow: 0px 0px 5px #B5B5B5 inset;
  background-color: #E5E5E5;
}

#calendar .selected:hover {
  background-color: #EFEFEF;
}

#calendar .info.selected{
  background-color: #D9EDF7;
}

#calendar .info.selected:hover {
  background-color: #B1D3E4;
}

#commingNext tr:hover td, #dayPlan tr:hover td {
  background-color: #E5E5E5;
}

table tbody td.active {
  background-color: #EEE;
}

#calendarArticle .panel-body .table{
  margin-bottom: 0px;
}
#calendarArticle .panel-body .table tbody:last-child {
  border-bottom: 1px solid #ddd;
}
#sanspadding{
  padding: 0px;
}

#sanspadding table{
  border-bottom: 1px solid #ddd;
}

#commingNext thead th {
  text-align: center;
}

#commingNext td.hour, td.date {
  text-align: center;
}
