
table {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
}

tbody > tr:first-of-type > td{
  border-top: 0px solid ;
}

#messageList .tab-content {
   max-height: 300px;
   overflow: auto;
}

#messageLoading {
   height: 2px;
   width: 0%;
   background-color: #29F;
   overflow: hidden;
}

@keyframes messageLoadingStart {
   0%    {width: 0%;}
   100%  {width: 66%;}
}

@keyframes messageLoadingEnd {
   0%    {width: 66%;}
   99%  {width: 100%;}
   100%  {width: 0%;}
}

@keyframes messageLoadingFail {
   0%    {width: 66%; background-color: #29F;}
   100%  {width: 100%; background-color: #F42;}
}

.showMessage.shown {
   background-color: blanchedalmond;
}

.showMessage.shown:hover {
   background-color: blanchedalmond;
}

#messageLoading.loading-start {
   background-color: #29F;
   animation: messageLoadingStart 1.5s ease-in;
   width: 66%;
}
#messageLoading.loading-end {
   background-color: #29F;
   animation: messageLoadingEnd 0.5s ease-out;
   width: 0%;
}
#messageLoading.loading-fail {
   animation: messageLoadingFail 0.5s ease-out;
   width: 100%;
   background-color: #F42;
}

.showMessage.not-shown {
   cursor: pointer;
}

.showMessage.showMessageText {
   text-decoration: underline;
   color: #29F;
}

#messageFrame #messageAnswerArea {
   resize: vertical;
   height: 80px;
}
